<html lang="">
    <head>
        <meta charset="utf-8">
        <title>Github Issues</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
        <script src="issues.js"></script>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" type="image/png" href="/images/favicon-16.png">
    </head>
    <body>
        {{{body}}}
        <template>
        <div class="image"><img src=""/></div>
        <div class="user"></div>
        <div class="action"><p></p></div>
        </template>
    </div>
    </body>
</html>